#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.app-input{
  border: 3px solid rgb(123, 229, 255);
  border-radius: 15px;
  text-align: center;
}
input{
  text-align: center;
  flex-basis: 48%;
  margin-bottom: 2em;
}
